<% add_decidim_page_title(t(".sign_up")) %>

<%= render "shared/page_header" do %>
  <h1><%= t("decidim.devise.registrations.new.sign_up") %></h1>
  <p class="margin-top-1">
    <%= t("decidim.devise.registrations.new.already_have_an_account?") %>
    <%= link_to t("decidim.devise.registrations.new.sign_in"), new_user_session_path %>
  </p>
<% end %>

<main>
<%= render "decidim/devise/shared/omniauth_buttons" %>
<div class="wrapper">
  <div class="row collapse">
    <div class="row" id="register_section">
      <div class="columns large-6 medium-10 medium-centered">
        <div class="text-center">
          <p><%= t("devise.shared.name_will_be_visible") %></p>
          <button class="h5" data-toggle="register register_closed register_open" id="register_toggle">
            <%= t(".sign_up_service_account") %>
            <span id="register_closed" data-toggler=".is-hidden">
              <i class="fa fa-chevron-down"></i>
            </span>
            <span id="register_open" class="is-hidden" data-toggler=".is-hidden">
              <i class="fa fa-chevron-up"></i>
            </span>
          </button>
        </div>

        <div class="register-form-wrapper is-hidden" id="register" data-toggler=".is-hidden">
          <%= decidim_form_for(@form, as: resource_name, url: registration_path(resource_name), html: { class: "register-form new_user", id: "register-form" }) do |f| %>
            <%= invisible_captcha %>

            <div class="user-person">
              <div class="field">
                <%= f.text_field :name %>
              </div>
            </div>

            <div class="field">
              <%= f.email_field :email, help_text: t(".email_help") %>
            </div>

            <div class="field">
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="field">
              <%= f.password_field :password_confirmation %>
            </div>

            <div class="user-tos" id="card__tos">
              <legend><%= t(".tos_title") %></legend>

              <div class="field">
                <%= f.check_box :tos_agreement, label: t(".tos_agreement", link: link_to(t(".terms"), page_path("terms-and-conditions"))) %>
              </div>
            </div>

            <div class="actions text-center">
              <%= f.submit t("devise.registrations.new.sign_up"), class: "button large hollow secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "decidim/devise/shared/continue_without_account" %>
</main>

<% if params[:user] %>
  <%= javascript_tag defer: 'defer' do -%>
  setTimeout(function() {
    var $button = $('#register_toggle');
    $button.trigger('click.zf.trigger').scrollTo();
  }, 500);
  <% end -%>
<% else %>
  <%= javascript_tag defer: 'defer' do -%>
  if (window.location.hash == '#register_section') {
    setTimeout(function() {
      $('#register_toggle').trigger('click.zf.trigger');
      $('input#user_name').focus();
    }, 500);
  }
  <% end %>
<% end %>
