<div class="collection-sort-controls">
  <%= render partial: "category_selector" %>
  <%= order_selector available_orders, i18n_scope: "decidim.proposals.proposals.orders" %>
  <%= render partial: "decidim/shared/results_per_page" %>
</div>

<div class="row small-up-1 medium-up-2 card-grid">
  <%= render @proposals %>
</div>

<%= decidim_paginate @proposals, random_seed: random_seed %>
