<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas position-right hide-for-large" data-position="right"
         data-transition="overlap"
         id="offCanvas" data-off-canvas>
      <!-- Close button -->
      <button class="close-button"
              aria-label="<%= t("layouts.decidim.header.close_menu") %>" type="button"
              data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- Menu -->
      <div class="hide-for-large" data-set="nav-holder"></div>
      <div class="hide-for-large usermenu-off-canvas-holder"
           data-set="nav-login-holder"></div>
    </div>
    <div class="off-canvas position-right hide-for-large" data-position="right"
         data-transition="overlap"
         id="offCanvasUser" data-off-canvas aria-hidden="true">
      <!-- Close button -->
      <button class="close-button"
              aria-label="<%= t("layouts.decidim.header.close_menu") %>" type="button"
              data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- Menu -->
      <div class="hide-for-large" data-set="nav-holder"></div>
      <div class="hide-for-large usermenu-off-canvas-holder">
        <ul class="menu vertical">
          <% # Repeat the user menu because otherwise it's hard to configure properly %>
          <% if current_user %>
            <%= render partial: "layouts/decidim/user_menu" %>
          <% else %>
            <li class="menu-item">
              <%= link_to t("layouts.decidim.header.sign_in"), decidim.new_user_session_path, class: "sign-in-link" %>
            </li>
            <li class="menu-item">
              <%= link_to t("layouts.decidim.header.sign_up"), decidim.new_user_registration_path, class: "sign-up-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="footer-separator">
        <!--separates the footer from the rest of the page,
             creates a sticky footer-->
        <!-- Topbar -->
        <div class="top-bar">
          <nav class="navbar row">
            <div class="top-bar-left">
              <ul class="menu">
                <li class="menu-text">
                  <div class="logo-wrapper">
                    <%= render partial: "layouts/decidim/logo", locals: { organization: current_organization } %>
                  </div>
                </li>
              </ul>
            </div>
            <div class="top-bar-right hide-for-large">
              <div data-hide-for="large">
                <button class="user-menu-button" type="button" data-toggle="offCanvasUser">
                  <% if current_user %>
                    <i class="fa fa-user-o"></i>
                  <% else %>
                  <i class="fa fa-sign-in"></i>
                  <% end %>
                </button>
                <button class="menu-button" type="button" data-toggle="offCanvas">
                  <i class="fa fa-bars"></i>
                </button>
                <div class="title-bar-title"></div>
              </div>
            </div>
            <div class="top-bar-right show-for-large" data-set="nav-holder">
              <ul class="dropdown menu vertical large-horizontal js-append" data-responsive-menu="accordion large-dropdown">
                <li class="hide-for-smallmedium">
                  <span class="organization-name"><%= current_organization.name %></span>
                </li>
                <%= main_menu.render %>

                <% if current_user %>
                  <li class="is-dropdown-submenu-parent show-for-large">
                    <%= link_to current_user.name, decidim.account_path %>
                    <ul class="menu vertical nested">
                      <%= render partial: "layouts/decidim/user_menu" %>
                    </ul>
                  </li>
                <% else %>
                  <li class="menu-item show-for-large">
                    <%= link_to t("layouts.decidim.header.sign_in"), decidim.new_user_session_path, class: "sign-in-link" %>
                  </li>
                  <li class="menu-item show-for-large">
                    <%= link_to t("layouts.decidim.header.sign_up"), decidim.new_user_registration_path, class: "sign-up-link" %>
                  </li>
                <% end %>
                <%= render partial: "layouts/decidim/language_chooser" %>

                <% if current_user %>
                  <li class="menu-item menu-item-separator"></li>
                  <li class="menu-item hide-for-large" aria-hidden="true">
                    <button class="topbar__usermenu" type="button" data-open="offCanvasUser" data-close="offCanvas">
                      <i class="fa fa-user-o"></i>
                      <span><%= current_user.name %></span>
                    </button>
                  </li>
                  <li class="menu-item">
                    <%= link_to decidim.notifications_path, class: "topbar__notifications #{current_user.notifications.any? ? "is-active" : ""}" do %>
                      <i class="fa fa-bell"></i>
                      <span class="hide-for-large"><%= t("layouts.decidim.user_menu.notifications") %></span>
                    <% end %>
                  </li>
                  <li class="menu-item">
                    <%= link_to decidim.conversations_path, class: "topbar__conversations #{current_user.unread_conversations.any? ? "is-active" : ""}" do %>
                      <i class="fa fa-envelope"></i>
                      <span class="hide-for-large"><%= t("layouts.decidim.user_menu.conversations") %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>

        <main>
          <div class="callout-container">
            <%= display_flash_messages %>
          </div>
          <%= yield %>
        </main>
      </div><!-- /.footer-separator -->

      <% if content_for? :footer_koro %>
        <%= yield :footer_koro %>
      <% else %>
        <div class="koro koro-storm-summer-light-lg"></div>
      <% end %>
      <div class="main-footer">
        <div class="row">
          <div class="large-6 column">
            <%= link_to  current_organization.official_url, class: "main-footer__badge" do %>
              <%= render partial: "layouts/decidim/logo_image", locals: { organization: current_organization } %>
            <% end %>
            <% if current_organization.static_pages.any? %>
              <div class="main__footer__nav">
                <p class="h5"><%= t '.about_service' %></p>
                <ul class="footer-nav no-bullet">
                  <% current_organization.static_pages.sorted_by_i18n_title.each do |page| %>
                    <li><%= link_to translated_attribute(page.title), decidim.page_path(page) %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="mini-footer">
        <div class="row">
          <div class="large-6 large-push-6 column mini-footer__copyright">
            <div class="copyright-wrapper large-text-right">
              <a href="mailto:ideakilpailu.tekninenpalaute@hel.fi?subject=Maailman%20toimivin%20kaupunki%20-palaute"><%= t(".feedback").html_safe %></a> |
              <%= t(".copyright").html_safe %>
            </div>
          </div>
          <div class="large-6 large-pull-6 column">
            <div class="license-wrapper">
              <a rel="license" class="cc-badge"
                 href="http://creativecommons.org/licenses/by-sa/4.0/"
                 target="_blank">
                <%= image_tag("decidim/cc-badge.png", alt: "Creative Commons License" ) %>
              </a>
              <%= t("layouts.decidim.footer.made_with_open_source").html_safe %>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.off-canvas-content-->
  </div><!--/.off-canvas-wrapper-inner-->
</div><!--/.off-canvas-wrapper-->
